<div *ngIf="!editAdminStatus" style="height: 100%;" class="edit d-flex align-items-center justify-content-center w-100 flex-column">
<div>

<img width="300px" height="300px" class="img-fluid rounded" [src]="profilePicture" alt="profile">
    
</div>   
<button (click)="editAdminBtn()" class="btn btn-link"> <i class="fa-solid fa-user-pen"></i> Edit Admin Details</button> 
</div>

<div *ngIf="editAdminStatus" style="height: 100%;" class="admin-details d-flex align-items-center justify-content-center w-100 flex-column">
<h3 class="fw-bold"> Update Admin Details</h3>
<label >
    <input (change)="getFile($event)" type="file" style="display: none;"> 
    <img width="300px" height="300px" class="img-fluid rounded" [src]="profilePicture" alt="profile">
</label>
<input [(ngModel)]="adminDetails.name" type="text" placeholder="Admin Name" class="form-control mt-2">
<input [(ngModel)]="adminDetails.password" type="text" placeholder="Admin password" class="form-control mt-2">
<div class="d-flex justify-content-evenly mt-3 w-100">
    <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
    <button (click)="editAdmin()" class="btn btn-success">Update</button>

</div>
</div>
